<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Ronae Johnson</h1>
    <p>Hi, my name is Ronae Johsnon and this is my first time using Flask. As a Computer Science student i intend on using the knowledge accquired from this course to help built safe and responsive website. In the future it my goal to attian a job in the feild of web development working in on of the big tech companys.</p>
</body>
</html>